@import url('https://fonts.googleapis.com/css?family=Parisienne|Quicksand&display=swap');
.slider{
    position: relative;
    top: 0;
    z-index: 1;
    margin-top: -110px;
}
h3{
    color: black;
    font-family: 'Quicksand';
}